.App {
  text-align: center;
  margin-top: 5% !important;
  width : 900px;
  margin: 0 auto;
}

.App-header {
  margin-bottom: 5%;
}

.App-title {
  font-size: 1.5em;
}

.info{
  font-style: italic;
}
.content{
  margin-top: 3%;
}

.wage-counter{
  margin-top: 10px;
}
.title-monthYear{
 font-size: 1.25em;
 font-weight: 700;
 
}
.table {
  text-align: left;
  margin-top: 10px;
}